# Copyright lowRISC contributors.
# Licensed under the Apache License, Version 2.0, see LICENSE for details.
# SPDX-License-Identifier: Apache-2.0

load("@crt//config:repo.bzl", "compiler_repository")

def gcc_mxe_mingw32_repos():
    compiler_repository(
        name = "gcc_mxe_mingw32_files",
        url = "${BASE_URL}/releases/download/${RELEASE_TAG}/mxe-binaries-win32.tar.xz",
        sha256 = "${SHA256}",
        strip_prefix = "mxe",
    )
