# Copyright lowRISC contributors.
# Licensed under the Apache License, Version 2.0, see LICENSE for details.
# SPDX-License-Identifier: Apache-2.0

load("@crt//config:repo.bzl", "compiler_repository")

def cc65_repos():
    compiler_repository(
        name = "cc65_files",
        url = "${BASE_URL}/releases/download/${RELEASE_TAG}/cc65-binaries.tar.xz",
        sha256 = "${SHA256}",
        strip_prefix = "cc65",
    )
